:root{
    --cinza: #536470;
}
body{
    text-align: center;
    padding-top: 3%;
    background-color: rgba(144, 150, 186, 0.491);
}

.conteudo{
    border-style: solid;
    border-radius: 2%;
    border-width: 0.125rem;
    padding: 1% 1% 1% 1%;
    margin: 0% 28% 5% 27%; 
    border-color: var(--cinza);
}
#titulo{
    color: var(--cinza);
    margin-bottom: 5%;
    border-style: outset;
    padding: 2%;
}
.lbl_titulo{
    color:var(--cinza);
}
#botao{
    background-color: var(--cinza);
    border-color: var(--cinza);
}
#btn_atualizar{
    background-color: var(--cinza);
    border-color: var(--cinza);
}
#style_table{
    overflow-x:auto;
    border: #536470;
}
#editar{
    width: 10%;
    height: 10%;
    
}
#excluir{
    width: 10%;
    height: 10%;
    margin-left: 2%;
}
#titulos_colunas{
    background-color: var(--cinza);
    color: whitesmoke;
}
#editar:hover, #excluir:hover {
    filter: brightness(.5);
}
